extends templates/master

block vars

block title
  |BI page

block styles

block content
  div.row
    div.col-xs-6.col-sm-2
    div.col-xs-6.col-sm-10.BI-you
      form.form-horizontal
        div.form-group
          div.col-sm-11.BI-right
            button(type="button").btn.btn-default.BI-date 数据
            button(type="button").btn.btn-default.BI-Chart 图表
        div.form-group
          lable.col-sm-1.control-label 商家:
          div.col-sm-3
            select.form-control
              option 请选择
          div.col-sm-8.BI-right
            div.col-sm-5
              input(type="button" data-role="dateType" id="byDay" value="按日" class="btn btn-default BI-date")
              input(type="button" data-role="dateType" id="byWeek" value="按周" class="btn btn-default BI-btn")
              input(type="button" data-role="dateType" id="byMonth" value="按月" class="btn btn-default BI-Chart")
            div.col-sm-6
              form.form-inline
                div.form-group
                  div.input-group#inputGroup
                    input(type="text" id="prev" class="form-control BI-readonly" readonly="readonly")
                    div.input-group-addon to
                    input(id="next" type="text" class="form-control BI-readonly" readonly="readonly")
                    input(id="d_1" class="BI-week")
                   
      form.form-horizontal
        div.form-group
          lable.col-sm-1.control-label 大区:
          div.col-sm-2
            select.form-control#Largearea
              option 请选择
              option(value="1") 华东大区
              option(value="1") 华北大区
              option(value="1") 华南大区
          lable.col-sm-2.control-label 省份:
          div.col-sm-2#province_Div
            select.form-control#province
              option 请选择
              option(value="1")
          lable.col-sm-2.control-label 城市:
          div.col-sm-2
            select.form-control#city
              option 请选择
              option(value="1")
      form.form-horizontal
        div.form-group
          lable.col-sm-1.control-label 配送站:
          div.col-sm-2
            select.form-control
              option 请选择
          lable.col-sm-2.control-label 站点属性:
          div.col-sm-2
            select.form-control
              option 请选择
      form.form-horizontal
        div.form-group
          lable.col-sm-1.control-label 工单类型:
          div.col-sm-3
            select.form-control#shows
              option 请选择
              option(value="1") 全部
              option(value="2") 投诉
              option(value="3") 查询
              option(value="4") 修改备注
              option(value="5") 外呼业务
              option(value="6") 业务受理
              option(value="7") 感谢与建议
              option(value="8") 咨询
          div.col-sm-7.BI-right
            button(type="button").btn.btn-default 查询
            button(type="button").btn.btn-default 数据导出
      hr
      div.table-responsive.BI-control
        table.table.table-bordered.BI-table
          tr
            td.td_1
              |大区
            td.td_1
              |省份
            td.td_1
              |城市
            td.td_1
              |站区全部
            td.td_2
              |序号
            td.td_2
              |工单类型
            td.td_2
              |数量
            td.td_2
              |占比
            td.td_1#complaint
              |投诉
            td.td_1
              |查询
            td.td_1
              |修改备注
            td.td_1
              |外呼业务
            td.td_1
              |业务受理
            td.td_1
              |感谢与建议
            td.td_1
              |咨询
          tr
            td.td_1#area_1
              |大区
            td.td_1
              |省份
            td.td_1
              |城市
            td.td_1
              |站区全部
            td.td_2
              |0
            td.td_2
              |全部
            td.td_2
              |2758
            td.td_2
              |100%
            td.td_1
              |投诉
            td.td_1
              |查询
            td.td_1
              |修改备注
            td.td_1
              |外呼业务
            td.td_1
              |业务受理
            td.td_1
              |感谢与建议
            td.td_1
              |咨询
          tr
            td.td_1
              |大区
            td.td_1
              |省份
            td.td_1
              |城市
            td.td_1
              |站区全部
            td.td_2
              |1
            td.td_2
              |投诉
            td.td_2
              |2758
            td.td_2
              |占比
            td.td_1#complaint
              |投诉
            td.td_1
              |查询
            td.td_1
              |修改备注
            td.td_1
              |外呼业务
            td.td_1
              |业务受理
            td.td_1
              |感谢与建议
            td.td_1
              |咨询
          tr
            td.td_1
              |大区
            td.td_1
              |省份
            td.td_1
              |城市
            td.td_1
              |站区全部
            td.td_2
              |1
            td.td_2
              |投诉
            td.td_2
              |2758
            td.td_2
              |占比
            td.td_1#complaint
              |投诉
            td.td_1
              |查询
            td.td_1
              |修改备注
            td.td_1
              |外呼业务
            td.td_1
              |业务受理
            td.td_1
              |感谢与建议
            td.td_1
              |咨询
          tr
            td.td_1
              |大区
            td.td_1
              |省份
            td.td_1
              |城市
            td.td_1
              |站区全部
            td.td_2
              |1
            td.td_2
              |投诉
            td.td_2
              |2758
            td.td_2
              |占比
            td.td_1#complaint
              |投诉
            td.td_1
              |查询
            td.td_1
              |修改备注
            td.td_1
              |外呼业务
            td.td_1
              |业务受理
            td.td_1
              |感谢与建议
            td.td_1
              |咨询
          tr
            td.td_1
              |大区
            td.td_1
              |省份
            td.td_1
              |城市
            td.td_1
              |站区全部
            td.td_2
              |1
            td.td_2
              |投诉
            td.td_2
              |2758
            td.td_2
              |占比
            td.td_1#complaint
              |投诉
            td.td_1
              |查询
            td.td_1
              |修改备注
            td.td_1
              |外呼业务
            td.td_1
              |业务受理
            td.td_1
              |感谢与建议
            td.td_1
              |咨询